{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {# Si l'utilisateur est admin #}
    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
        <div class="action-buttons">
            <a href="{{ path('app_user_index') }}" class="btn btn-back">
                        <i class="fas fa-arrow-left"></i>
                        Retour à la liste
            </a>

            {# {{ include('user/_delete_form.html.twig') }} #}
        </div>
        <div class="action-buttons">
            <a href="{{ path('app_admin_dashboard') }}" class="btn btn-primary">Retour au dashboard</a>
        </div>
    {% else %}
        <div class="action-buttons">
            <a href="{{ path('app_client_dashboard') }}" class="btn btn-primary">Retour au dashboard</a>
        </div>
    {% endif %}

{% endblock %}
