{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <div class="camping-detail-card">
		<div class="camping-detail-content">
			<h1 class="camping-title">{{season.label}}</h1>

            <div class="camping-info-detail mb-4">
                <div class="info-item">
                    <span class="info-label">Nom : </span>
                    </span>
                    <span class="info-value">{{season.label}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Camping fermé ? : </span>
                    <span class="info-value">{{season.isClosed ? 'Oui' : 'Non'}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">percentage de réduction / augmentation : </span>
                    <span class="info-value">{{season.percentage}}%</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Date de début : </span>
                    <span class="info-value">{{season.dateStart|date('d/m/Y')}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Date de fin : </span>
                    <span class="info-value">{{season.dateEnd|date('d/m/Y')}}</span>
                </div>
			</div>
		</div>
	</div>

    <div class="action-buttons">
		<div>
			{% include "season/_delete_form.html.twig" with {'button_class': 'btn btn-delete'} %}
		</div>
		<div>
			<a href="{{ path('app_season_edit', {'id': season.id}) }}" class="btn btn-edit">Editer</a>
		</div>
		<div>
			<a href="{{path('app_season_index')}}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>Retour à la liste</a>

		</div>
    </div>
{% endblock %}
