<div class="camping-card">
	<img src="{{asset('images/types/' ~ type.imagePath)}}" alt="{{type.label}}" class="camping-image">
	<div class="camping-info">
		<h2 class="camping-title">{{rental.title}} n°{{rental.location}}</h2>
		<div class="camping-info-container">
			<a href="{{path('app_detail_rental', {'id': rental.id})}}" class="btn btn-detail">Voir détail</a>

			{# Si l'utilisateur est connecté #}
			{% if app.user and not is_granted('ROLE_ADMIN') %}
				<a href="{{path('app_reservation_client_new', {'id': rental.id})}}" class="btn btn-detail">Réserver</a>
			{% endif %}
		</div>

		
	</div>
</div>
