<h2>{{title}}</h2>
<table class="camping-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Fermé ?</th>
            <th>percentage</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for season in seasons %}
        <tr>
            <td>{{ season.id }}</td>
            <td>{{ season.label}}</td>
            <td>{{ season.isClosed ? 'Oui' : 'Non' }}</td>
            <td>{{ season.percentage }}%</td>
            <td>{{ season.dateStart|date('d/m/Y') }}</td>
            <td>{{ season.dateEnd|date('d/m/Y') }}</td>
            <td>
                <div class="camping-actions">
                    <a href="{{path('app_season_show', {'id': season.id})}}" class="view-link">Voir</a>
                    <a href="{{path('app_season_edit', {'id': season.id})}}" class="edit-link">Editer</a>
                </div>                    
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Pas de saison trouvée</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

