<h2>{{title}}</h2>

<table class="camping-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Prix / jour</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td><img src="{{asset('images/types/' ~ type.imagePath)}}" alt="{{type.label}}" class="camping-image-admin"></td>
                <td>{{ type.label }}</td>
                <td>{{ (type.price/100)|number_format}}</td>
                <td>{{ type.isActive ? 'Oui' : 'Non' }}</td>
                <td>
                <div class="camping-actions">
                    <a href="{{path('app_type_show', {'id': type.id})}}" class="view-link">Voir</a>
                    <a href="{{path('app_type_edit', {'id': type.id})}}" class="edit-link">Editer</a>
                </div>                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de type de logement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>