<h2>{{title}}</h2>
<table class="camping-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Location concernée</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for availability in availabilities %}
        <tr>
            <td>{{ availability.id }}</td>
            <td>{{ availability.dateStart|date('d/m/Y') }}</td>
            <td>{{ availability.dateEnd|date('d/m/Y') }}</td>
            <td>{{ availability.title }}, emplacement n°{{ availability.location }}</td>
            <td>
                <div class="camping-actions">
                    <a href="{{path('app_availability_show', {'id': availability.id})}}" class="view-link">Voir</a>
                    <a href="{{path('app_availability_edit', {'id': availability.id})}}" class="edit-link">Editer</a>
                </div>                    
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Pas de date bloquée</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

