{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div class="camping-detail-card">
        <div class="camping-detail-content">
            <h1 class="camping-title">Réservation</h1>

            <div class="camping-info-detail mb-4">
                <div class="info-item">
                    <span class="info-label">Date de début : </span>
                    <span class="info-value">{{reservation.dateStart|date('d/m/Y')}}</span>
                </div>

                <div class="info-item">
                    <span class="info-label">Date de fin : </span>
                    <span class="info-value">{{reservation.dateEnd|date('d/m/Y')}}</span>
                </div>

                <div class="info-item">
                    <span class="info-label">Nombre d'adulte(s) </span>
                    <span class="info-value">{{reservation.adultsNumber}}</span>
                </div>

                <div class="info-item">
                    <span class="info-label">Nombre d'enfant(s) </span>
                    <span class="info-value">{{reservation.kidsNumber}}</span>
                </div>
            </div>
            <div class="camping-info-detail mb-4">
                <div class="info-item">
                    <span class="info-label">Location </span>
                    <span class="info-value">
                        <a href="{{ path('app_rental_show', {'id': reservation.rental.id}) }}">{{reservation.rental.title}} n°{{reservation.rental.location}}</a>
                    </span>
                </div>

                <div class="info-item">
                    <span class="info-label">Prix total </span>
                    <span class="info-value">{{(reservation.price/100)|number_format}}</span>
                </div>
            </div>

            <div class="camping-info-detail mb-4">
                <div class="info-item">
                    <span class="info-label">Statut</span>
                    <span class="info-value">{{reservation.status ? 'Validée' : 'Annulée' }}</span>
                </div>
            </div>

            {% if (isCancelable and reservation.status == 1) %}
                <div class="action-buttons">
                    {% include "reservation/client/_cancel_form.html.twig" %}
                </div>
            {% endif %}
            
            <div class="action-buttons">
                <div>
                    <a href="{{path('app_reservation_client_index')}}" class="btn btn-back">
                        <i class="fas fa-arrow-left"></i> Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
