{% extends 'base.html.twig' %}

{% block title %}Prix{% endblock %}

{% block body %}
    <div class="camping-detail-card">
		<div class="camping-detail-content">
			<h1 class="camping-title">{{price.label|slice(0,30) ~ '...' }}</h1>

            <div class="camping-info-detail mb-4">
                <div class="info-item">
                    <span class="info-label">Nom : </span>
                    </span>
                    <span class="info-value">{{price.label}}</span>
                </div>

                <div class="info-item">
                    <span class="info-label">Prix : </span>
                    <span class="info-value">{{(price.price/100)|number_format}}</span>
                </div>
			</div>
		</div>
	</div>

    <div class="action-buttons">
		<div>
			{# suppression #}
			{% include "price/_delete_form.html.twig" with {'button_class': 'btn btn-delete'} %}
		</div>
		<div>
			<a href="{{ path('app_price_edit', {'id': price.id}) }}" class="btn btn-edit">Editer</a>
		</div>
		<div>
			<a href="{{path('app_price_index')}}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>Retour à la liste</a>

		</div>
    </div>
{% endblock %}
